/* Variables */
:root {
    --header-grey: #121212;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-blue: #5595E7;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-black);
    max-width: 100%;
    font-family: sans-serif;
}

/* Utils */
.content-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
    position: sticky;
    top: 0px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 150px;
    background-color: yellow;
}

.header__logo {
    max-width: 10rem;
    margin-top: 0.5rem;
}

.header form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* Carousel */
.carousel {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    aspect-ratio: 3/2;
    position: relative;
    background-color: var(--primary-grey);
    padding: 2rem;
    border-radius: 1rem;
}

.carousel__slide {
    position: absolute;
    margin: auto;
    width: 75%;
    inset: 0;
    visibility: hidden;
    aspect-ratio: 3/2;
    transition: 200ms visibility ease-in-out;
}

.carousel__slide[data-active] {
    visibility: visible;
}

.carousel__slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-yellow);
    background: none;
    border: none;
}

.carousel__btn:hover,
.carousel__btn:focus {
    color: var(--primary-white);
}

.carousel__btn.prev {
    left: 1rem;
}

.carousel__btn.next {
    right: 1rem;
}

/* Här skriver ni er CSS */

.popular__title {
    color: white;
    text-align: center;
    margin: 2rem;
}

.popular__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary-grey);
    margin: 1rem;
    width: 25%;
    text-align: center;
}

.movie-container h3 {
    color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-container img {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
}

.results__title {
    color: white;
    text-align: center;
    margin: 2rem;
}

.results__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resultMovieContainer {
    transition: 0.1s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary-grey);
    margin: 1rem;
    width: 13rem;
    height: 25rem;
    text-align: center;
    cursor: pointer;
}

.resultMovieTitle {
    color: white;
    font-size: larger;
    padding: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: title;
    white-space: nowrap;
}

.resultMoviePoster {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    grid-area: img;
}

.showMovieInfo {
    width: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
        "title title heart"
        "img plot plot"
        "img director actors";
    height: auto;
    color: rgb(230, 230, 230);
}

.showMovieInfo img {
    height: 20rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.resultMoviePlot {
    margin-top: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-area: plot;
}

.errorText {
    color: red;
}

.favorite-icon {
    margin-top: 1rem;
    color: white;
    grid-area: heart;
    z-index: 2;
}

.favorite-icon--yellow {
    margin-top: 1rem;
    color: #F5C518;
}

.favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media screen and (max-width: 1380px) {
    .content-wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1100px) {
    .content-wrapper {
        width: 750px;
    }

    .movie-container {
        width: 35%;
    }
}

@media screen and (max-width: 750px) {
    .content-wrapper {
        width: 300px;
    }

    .header__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .carousel {
        width: 100%;
    }

    .popular__card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movie-container {
        width: 90%;
    }

    .results__list {
        display: flex;
        flex-direction: column;
    }

    .resultMovieContainer {
        width: 80%;
        height: auto;
    }

    .resultMoviePlot {
        margin-top: 1rem;
    }

    .showMovieInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-overflow: ellipsis;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .showMovieInfo img {
        margin-left: 0;
        margin-bottom: 0;
    }
}